@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,400,700');

body {
  font-family: 'IBM Plex Sans', sans-serif;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
  margin-top: 0;
}

button, .button {
  background: #2e80fd;
  background: linear-gradient(to right, #2e80fd, #4f93fb);
  border: none;
  border-radius: 3px;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,.12);
  color: #fff;
  font-size: 0.9rem;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 5px;
  min-width: 125px;
  padding: 10px 30px;
  transition: all 100ms ease-in-out;
  text-transform: uppercase;
}

button.light, .button.light {
  background: #f9f9f9;
  background: linear-gradient(to right, #f9f9f9, #f7f7f7);
  color: #212121
}

button:hover, .button:hover {
  cursor: pointer;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.12);
  transform: translateY(1px);
}

.hidden {
  display: none;
}

.banner {
  background: #0668fe;
  background: linear-gradient(to right, #0668fe, #0148da);
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.12);
  text-align: center;
  padding: 30px 10px;
}

.title {
  color: #fff;
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.subtitle {
  color: #fff;
  font-size: 1.2rem;
}

.content {
  align-items: center;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  height: 100vh;
}

.game {
  align-items: flex-start;
  display: flex;
  margin: 20px 30px 30px;
}

.game-status {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 500px;
  margin-left: 30px;
}

.status-title {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  margin-bottom: 10px;
}

.status-title:after {
  background-color: #000000;
  content: "";
  height: 3px;
  margin-top: 5px;
  width: 70%;
}

.status-content {
  display: flex;
}

.status-content .column {
  margin: 10px;
}

.status-content .column div {
  margin: 5px;
  min-width: 20px;
}

.ai-thinking {
  margin-top: 20px;
}

.ai-thinking:before {
  animation: thinking-text 3s linear infinite;
  content: "The AI is thinking";
}

.status-alert {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: 20px;
  margin-bottom: 0;
  text-transform: uppercase;
}

.board-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game-error {
  background-color: #ffcaca;
  border: #b71540 1px solid;
  border-radius: 5px;
  color: #b71540;
  margin-top: 10px;
  padding: 10px;
}

#start-btn {
  font-size: 1.5rem;
  position: absolute;
}

#concede-btn {
  margin-top: auto;
  margin-bottom: 30px;
}

/* Popper.js */
.popper {
  background-color: #f3e4c8;
}
.popper .popper__arrow {
  border-color: #f3e4c8;
  border-style: solid;
  height: 0;
  position: absolute;
  width: 0;
}

.popper[x-placement^="top"] {
  margin-bottom: 5px;
}
.popper[x-placement^="top"] .popper__arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.popper[x-placement^="bottom"] {
  margin-top: 5px;
}
.popper[x-placement^="bottom"] .popper__arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.popper[x-placement^="right"] {
  margin-left: 5px;
}
.popper[x-placement^="right"] .popper__arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}
.popper[x-placement^="left"] {
  margin-right: 5px;
}
.popper[x-placement^="left"] .popper__arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

/* Chessboard */
#board {
  width: 500px;
  margin-bottom: 30px;
}

.chessboard-63f37.inactive {
  display: flex;
}

.chessboard-63f37.inactive:after {
  background-color: #424242;
  content: '';
  height: 500px;
  opacity: 0.5;
  position: absolute;
  width: 500px;
}

.chessboard-63f37.inactive:hover {
  cursor: not-allowed;
}

.square-active.white-1e1d7 {
  background-color: #679df3;
}

.square-active.black-3c85d {
  background-color: #4885e2;
}

.square-highlight-move {
  align-items: center;
  display: flex;
  justify-content: center;
}

.square-highlight-move:after {
  background-color: #424242;
  border-radius: 10px;
  content: "";
  height: 20px;
  opacity: 0.9;
  position: absolute;
  width: 20px;
}

.pawn-promotion {
  border-radius: 5px;
  box-shadow: 0 4px 3px 0 rgba(0,0,0,.12);
  padding: 3px 2px;
}

.white-promotion, .black-promotion {
  display: flex;
}

.promotion-piece {
  margin: 2px;
  transition: transform 100ms ease-in-out;
}

.promotion-piece:hover {
  cursor: pointer;
  transform: translateY(-1.2px);
}

/* Chessboard CSS Override */
.highlight1-32417,.highlight2-9c5d2 {
  box-shadow: none;
}

.chessboard-63f37:hover {
  cursor: grab;
}

/* Animations */
@keyframes thinking-text {
  0% {
    content: "The AI is thinking."
  }
  33% {
    content: "The AI is thinking.."
  }
  67% {
    content: "The AI is thinking..."
  }
}
